.pokemon {
  display: flex;

  width: 400px;
  height: 200px;

  align-items: center;
  justify-content: space-evenly;

  background-color: #fff;
  border: 1px solid #333;
  border-radius: 4px;

  padding-bottom: 10px;
}

.pokemon-info {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.pokemon-info h2,
h3 {
  margin-bottom: 10px;
}

.pokemon-info a {
  text-decoration: underline;
}

.pokemon-info span {
  font-size: 20px;
  margin-bottom: 10px;
}
